body{font: 12px/1.4 微软雅黑, Tahoma, 宋体;}
.event-box {
	background-color: #000000;
	 background-image:url(../images/bg.jpg); background-repeat:no-repeat; background-position:center top;
	position:relative;
	padding-top:730px;
	padding-bottom:30px;
	color:#fff;
	
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.cl {
	clear: both;
}
.main-box{width:960px; margin:0 auto;padding:30px 30px 30px 10px;}

.main-title h1{font-size:40px; font-weight:bold; color:#fcff00; }
.main-title p{color:#fff;font-size:14px; line-height:48px;}
.title-text{padding-left:20px;padding-top:0px;}
.main-content{padding:0px 70px 50px 110px;font-size:18px; line-height:36px;}
.main-content h2{font-size:24px;}
.main-table{font-size:14px;margin-right:20px;}
.main-table th{ background-color:#b61818; border:1px solid #960506;text-align:center;color:#fff;font-size:18px; line-height:36px;}
.main-table td{background-color:#941212; text-align:center;border:1px solid #8e0406;color:#fff;font-size:14px;line-height:36px;}
.time{padding:0px 15px; background-color:#042941;color:#ffd200;margin-top:10px;width:90%;border-radius: 3px;}